#main_content {
    position: relative;
    overflow: hidden;

    .bg01 {
        position: absolute;
        top: 0;
        right: 0;
        width: 346px;
        height: 346px;
        background: url(../images/maincon1-top-deco2.png)no-repeat 0 0;
        background-size: 100% 100%;
        z-index: -1;
    }



    .con_box {
        display: flex;
        gap: 4px;

        >figure {
            position: relative;
            flex: 1;
            height: 480px;
            overflow: hidden;


            &:nth-child(1) {
                background: url(../images/maincon1-img1.jpg)no-repeat center center/cover;
            }

            &:nth-child(2) {
                background: url(../images/maincon1-img2.jpg)no-repeat center center/cover;
            }

            &:nth-child(3) {
                background: url(../images/maincon1-img3.jpg)no-repeat center center/cover;
            }

            .slogan {
                transform: translate(0, 400px);
                position: relative;
                z-index: 998;
                background: rgba($color: #000000, $alpha: 0.7);
                height: 100%;
                padding: 24px 24px;

                strong {
                    color: $color-white;
                    display: block;
                    font-size: 32px;
                    margin: 0 0 16px 0;
                }

                span {
                    font-size: 16px;
                    line-height: 26px;
                    color: rgba($color-white, $alpha: 0.8);
                    visibility: hidden;
                }
            }

            &:hover {


                &::after {
                    opacity: 0.5;
                }

                .slogan {
                    transform: translate(0, 280px);
                    transition: 0.4s;

                    span {
                        visibility: visible;
                    }
                }
            }
        }


    }

    @media (max-width: 768px) {
        .con_box {
            height: 650px;
        }

        &.on {
            .con_box {
                margin-left: 15px;

                figure {
                    .slogan {
                        left: 30px;
                        width: 50%;

                        strong {
                            font-size: 32px;
                            margin: 0 0 24px 0;
                        }

                        span {
                            font-size: 14px;
                            line-height: 1.2;
                        }
                    }
                }
            }
        }

        .con_list {
            left: 30px;
            font-size: 14px;
            gap: 10px;

            li {
                padding: 0 0 5px 0;
            }
        }




    }
}