#main_benefit {
    position: relative;



    .bg02 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 860px;
        height: 860px;
        background: url(../images/maincon1-top-deco1.png)no-repeat 0 0;
        background-size: 100% 100%;
        z-index: -1;
    }


    .benefit_wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 0 0 calc((100% - 1440px)/2 - 16px);

        .title {
            margin: 0 0 0 0;
            text-align: left;

            p {
                margin: 0 0 32px 0;
                width: 70%;
            }
        }

        .content {
            overflow: hidden;
        }

        .benefit_slide {
            overflow: hidden;

            .con {
                position: relative;
                width: 560px;

                .img_box {
                    height: 350px;

                    img {
                        height: 100%;
                    }

                }



                h3 {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;

                    background: rgba($color: $color-white, $alpha: 0.6);
                    font-size: 20px;
                    text-align: center;
                    font-weight: 500;
                    line-height: 56px;
                    cursor: pointer;
                }

                &:hover {
                    h3 {
                        line-height: 350px;
                        transition: 0.4s;
                    }
                }

            }

        }


    }


    @media(max-width:768px) {
        .benefit_slide {

            left: 0;

            figure {
                .img_box {
                    height: 280px;

                    img {
                        height: 100%;
                    }

                }

                h3 {
                    font-size: 16px;
                }

            }

        }
    }
}