#main_area {
    position: relative;

    .tab_area {
        position: absolute;
        left: 80px;
        top: 50%;
        transform: translate(0, -50%);
        width: 200px;
        z-index: 998;

        .tab {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            gap: 12px;

            >li {
                border: 2px solid transparent;

                img {
                    height: 100%;
                }

                &.on {
                    border: 2px solid $color-white;
                }
            }
        }



    }

    .area_content {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .left {
            overflow: hidden;
            position: relative;
            background: #ddd;

            .area_slide {
                .itm {
                    position: relative;
                    height: 100vh;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0 0 0 0;

                        background-color: #000;
                        opacity: 0.55;
                    }

                }

                .itm01 {
                    background: url(../images/mainarea01.jpg)no-repeat center center/cover;
                }

                .itm02 {
                    background: url(../images/mainarea02.jpg)no-repeat center center/cover;
                }

                .itm03 {
                    background: url(../images/mainarea03.jpg)no-repeat center center/cover;
                }

                .itm04 {
                    background: url(../images/mainarea04.jpg)no-repeat center center/cover;
                }


            }
        }

        .right {
            overflow: hidden;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                color: #000;
                margin: 0 0 80px 0;
            }

            .area_info {
                padding: 200px 0;
                overflow: hidden;
                background: #ddd;

                .info_slide {}



            }
        }
    }










    @media(max-width:768px) {
        h2 {
            font-size: 18px;
        }

        .area_slide {
            .itm {
                .m_box {
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    z-index: 998;

                    p {
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 500;
                        background: rgba($color-white, $alpha: 0.7);
                        color: $color-sub;
                        border-radius: 20px;
                        padding: 10px 25px;
                        margin: 0 0 16px 0;
                    }

                    h3 {
                        font-size: 24px;
                        color: $color-white;
                    }
                }
            }
        }


        .area_info {
            display: none;
        }
    }
}